<a href="https://colab.research.google.com/github/venkataraghuramr/Supervised-Learning-Algorithms/blob/main/How_to_Handle_Underfitting_in_Multiple_and_Single_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Underfitting
---
1. Occurs when our machine is not able to learn
2. Poor performance of the training data
3. Due to high bias and low variance

---
How we can avoid
1. Increase the number of features
2. Increase the model complexity
3. Reduce the noise in Data
4. Increase the duration of the training data
---
How to remove the ouliers
1. Z score - Remove the data that are above 3 and below -3
---
2. Compute Min Max we can keep the data lying between 25 and 75 percent data or we can sort the data and remove the first      25 percent data and remove 75-100% data
---

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [2]:
df = pd.read_csv('bengaluru_house_prices.csv')
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [4]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [6]:
df.dtypes

area_type        object
availability     object
location         object
size             object
society          object
total_sqft       object
bath            float64
balcony         float64
price           float64
dtype: object

In [7]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [10]:
df = df.dropna()
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00
...,...,...,...,...,...,...,...,...,...
13313,Super built-up Area,Ready To Move,Uttarahalli,3 BHK,Aklia R,1345,2.0,1.0,57.00
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715,3.0,3.0,112.00
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00

In [11]:
X = df[['bath','balcony']]
Y = df['price']

In [12]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.3,random_state = 3)

In [13]:
reg = LinearRegression()
reg.fit(x_train,y_train)
result = reg.predict(x_test)
print(result,y_test)

[ 63.92020441  63.92020441 133.7321653  ... 133.7321653  134.04108627
  63.92020441] 12880     49.00
2231      43.00
11770    110.00
6667     300.00
391       33.00
          ...
5931      52.43
3719     139.00
3186      59.10
3176      45.15
10139     33.51
Name: price, Length: 2249, dtype: float64

In [14]:
prediction = pd.DataFrame()
prediction['Y'] = y_test
prediction['PRED'] = result
print(reg.score(x_train,y_train))

0.3263903731541532

## Feature Selection

**Which Coefficent is more important**

In [15]:
print(reg.coef_)

[69.50303991  0.30892097]

## Errors of the Model Can be computed by using the module called mean_absolute_error

In [16]:
mean_absolute_error(y_test,result)

40.58433606052495

1. Split data into test and Train
2. Fit the data into model
3. Making the Prediction
4. Test the Model by computing the accuracy
5. Importance of Feature
6. How much score the model have
7. Hoe much error the model is making

**Doing for another Data Set Score.csv**

In [18]:
df = pd.read_csv('score.csv')
df

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [19]:
df.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [20]:
df.dtypes

Hours     float64
Scores      int64
dtype: object

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes

In [22]:
df.isnull().sum()

Hours     0
Scores    0
dtype: int64

In [26]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1:]

In [27]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.3,random_state = 3)

In [28]:
reg = LinearRegression()
reg.fit(x_train,y_train)
result = reg.predict(x_test)
print(result,y_test)

[[60.91054581]
 [20.65494258]
 [45.57507791]
 [68.57827976]
 [87.74761463]
 [26.40574304]
 [34.07347699]
 [33.11501025]]     Scores
18      67
17      24
12      41
23      76
15      95
16      30
13      42
2       27

In [29]:
prediction = pd.DataFrame()
prediction['Y'] = y_test
prediction['PRED'] = result
print(reg.score(x_train,y_train))

0.9563209860190123

## Errors of the Model Can be computed by using the module called mean_absolute_error

In [30]:
mean_absolute_error(y_test,result)

5.78993566961237